{% extends 'blog/base.html' %}

{% block content %}
  <h1>All Posts</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created Date</th>
        <th>Published Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post.title }}</td>
          <td>{{ post.author }}</td>
          <td>{{ post.created_date }}</td>
          <td>{{ post.published_date }}</td>
          <td>
            <a href="{% url 'post_detail' pk=post.pk %}">View</a>
            <a href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            <a href="{% url 'post_remove' pk=post.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}