{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.text|truncatechars:200 }}</p>
                            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on {{ post.published_date }} by {{ post.author }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No posts yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
